* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  background: #1c1c1c;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

#root {
  min-height: 100vh;
  width: 100%;
  background: #1c1c1c;
}
